<aside class="sidebar">
  <section>

   <section>
    <h3>AMAZON QUICK SEARCH</h3>
    <section data-group="modal-group">
      <div class="container">
        <a href="#" class="image fit"><img src="https://pmcvariety.files.wordpress.com/2018/01/amazon-logo.jpg?w=1000" alt=""></a>
        <p>Amazon offers thousands of great deals, but finding the best deal through endless pages might make you crazy. It offers a quick way to find the best deals on Amazon.</p>
        <a class="button btn-px open-modal" data-modal="modal">Quick Search</a>
        <div class="modal-wrapper" data-wrapper="modal-wrapper-large">
         <div class="modal-content">
          <div class="modal-intro">
           <h2>Quick way to find the best deals</h2>
           <p>Amazon offers thousands of great deals, but finding the best deal through endless pages might make you crazy. It offers a quick way to find the best deals on Amazon. You are going to get awesome deals just by clicking on the percentage off next to the category you want to browse.</p>
          </div>
          <%= render 'shared/amazon_table' %>
         </div>
        </div>
      </div>
    </section>  
   </section><br/>

  </section>

  <section>
     <h3>POPULAR BLOG</h3>
     <div id="sidebar">
      <ul id="side-rcnt-thumb-post-list">      
        <% @blog_side.each do |blog| %>
          <li>
            <div class="srtpl-l">
              <%= link_to (image_tag blog.blog_image), blog, :class => "srtpl-a" %>        
            </div>
            <div class="srtpl-r">
              <%= link_to blog.blog_title, blog, :class => "srtpl-n" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div><br/>
   </section>


  <section>
   <h3>POPULAR GADGETS</h3>
   <div id="sidebar">
    <ul id="side-rcnt-thumb-post-list">
      <% @post_side.each do |ps| %>
        <li>
          <div class="srtpl-l">
            <%= link_to (image_tag ps.post_image), ps, :class => "srtpl-a" %>
       <!-- <a href="#" class="srtpl-a"><img class="srtpl-thumb" src="<%= ps.post_image %>" alt=""></a> -->
          </div>
          <div class="srtpl-r">
            <p><%= ps.category.name %></p>
            <%= link_to ps.post_title, ps, :class => "srtpl-n" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div><br/>
  
   <ul class="actions">
    <li><a href="/posts" class="button">Learn More</a></li>
   </ul>
  </section>

  <section>
   <h3>POPULAR DEALS ON AMAZON</h3>
   <div id="sidebar">
    <ul id="side-rcnt-thumb-post-list">      
      <% @dealzon_side.each do |ds| %>
        <li>
          <div class="srtpl-l">
            <%= link_to (image_tag ds.am_image), ds, :class => "srtpl-a" %>        
          </div>
          <div class="srtpl-r">
            <p><%= ds.acategory.name %></p>
            <%= link_to ds.am_title, ds, :class => "srtpl-n" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div><br/>
  
   <ul class="actions">
    <li><a href="/dealzons" class="button">Learn More</a></li>
   </ul>
  </section>

   <section>
     <h3>POPULAR DEALS ON EBAY</h3>
     <div id="sidebar">
      <ul id="side-rcnt-thumb-post-list">
        <% @event_side.each do |eventside| %>
          <li>
            <div class="srtpl-l">
              <%= link_to (image_tag eventside.eb_image), eventside, :class => "srtpl-a" %>        
            </div>
            <div class="srtpl-r">
              <p><%= eventside.ecategory.name %></p>
              <%= link_to eventside.eb_title, eventside, :class => "srtpl-n" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div><br/>
    
    <ul class="actions">
      <li><a href="/events" class="button">Learn More</a></li>
    </ul>
   </section>


</aside>