<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<div class="wrapper">

  <section class="main">
    
    <section>
      <p class="notice"><I>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</I></p>

      <div class="header_blog_show">
        <h1><%= @blog.blog_title %></h1>
        <p><%= @blog.blog_intro %></p>
        <img src="<%= @blog.blog_image %>">
        <% if can? :update, @blog %>
          <div class="footer-social-icons">
            <ul class="social-icons">
              <a class="social-icon" id="shareFB" href="https://www.facebook.com/sharer/sharer.php?u=<%= url_for([@blog, { 
                 only_path: false }]) %>&t=<%= @blog.blog_title %>"
                 onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"   target="_blank" title="Share on Facebook"><li><i class="sharebg fa fa-facebook"></i><span class="sns_span_f">Share on Facebook</span></a></li></a>
                <script type="text/javascript">document.getElementById("shareFB").setAttribute("href", "https://www.facebook.com/sharer/sharer.php?u=" + document.URL);
                </script>

               <a class="social-icon" href="https://twitter.com/share?url=<%= url_for([@blog, { 
                 only_path: false }]) %>&via=ohigottabuythis&text=<%= @blog.blog_title %>"
                 onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                 target="_blank" title="Share on Twitter">
                 <li><i class="sharebg fa fa-twitter"></i><span class="sns_span_t">Share on Twitter</span></a></li>
                </a>   
            </ul>
          </div>
        <% end %>
      </div>
      <div class="ckeditor_blog_show">
        <%= raw @blog.blog_ckeditor %>
      </div>
      
      <%= link_to "Home", blogs_path %>
      <%= link_to "Edit", edit_blog_path(@blog) %>
      <%= link_to "Delete", blog_path(@blog), method: :delete, data: {confirm: "Are you sure?"} %>
      
    </section>
 
  </section>
  

  <!-- Sidebar -->
  <%= render "blogs/sidebar_index" %>
</div>

  


<!-- Footer -->
<%= render 'shared/footer' %>



