<%= simple_form_for @event do |f| %>
  <div class="form_section">
   <%= f.collection_select :ecategory_id, Ecategory.all, :id, :name, {prompt: "Choose a category"} %><br/>
   <%= f.select :eb_expire, options_for_select([["Ongoing", ""], "This code has expired"]) %><br/>
   <%= f.input :eb_title %>
   <%= f.input :eb_image %>
   <%= f.input :eb_ckeditor, as: :text, input_html: { class: 'ckeditor' }, label: "Description" %>
   <%= f.input :eb_review %>
   <%= f.input :eb_code %>
   <%= f.input :eb_date %>
   <%= f.input :eb_price_is %>
   <%= f.select :eb_shipping, options_for_select([["No! Shipping isn't free", ""], "Yes! Shipping is free"]) %><br/>
   <%= f.input :eb_price_was %>
   <%= f.input :eb_price_sale %>
   <div class="form_samll_section">
    <p>If it is Freatured Sale</p>
    <%= f.input :eb_featured_sale, label: "Freatured Sale in Index page" %>
   </div>
   <%= f.input :eb_link %>
   <br/>

   <%= f.button :submit %>
  </div>
<% end %>