<aside class="sidebar">

    <section>
     <h3>POPULAR DEALS</h3>
     <div id="sidebar">
      <ul id="side-rcnt-thumb-post-list">
        <% @event_side.each do |eventside| %>
          <li>
            <div class="srtpl-l">
              <%= link_to (image_tag eventside.eb_image), eventside, :class => "srtpl-a" %>        
            </div>
            <div class="srtpl-r">
              <p><%= eventside.ecategory.name %></p>
              <%= link_to eventside.eb_title, eventside, :class => "srtpl-n" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div><br/>

   </section>
   
   <!-- Accordian -->
   <!-- <section>
     <h3>POPULAR DEALS BY CATEGORY</h3>
     <ul id="accord1" class="accordian">
      <li>
        <header>Featured Sales</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @event_side.each do |eventside| %>
              <% if eventside.ecategory_id == 1 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag eventside.eb_image), eventside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to eventside.eb_title, eventside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
      <li>
        <header>Deals</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @event_side.each do |eventside| %>
              <% if eventside.ecategory_id == 2 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag eventside.eb_image), eventside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to eventside.eb_title, eventside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
      <li>
        <header>Promo Codes</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @event_side.each do |eventside| %>
              <% if eventside.ecategory_id == 3 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag eventside.eb_image), eventside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to eventside.eb_title, eventside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
      <li>
        <header>Interesting</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @event_side.each do |eventside| %>
              <% if eventside.ecategory_id == 4 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag eventside.eb_image), eventside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to eventside.eb_title, eventside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
    </ul>
   </section> -->
   <!-- Accordian -->

  <!-- Featured posts -->
    <section class="featured-posts">
      <h3>LATEST BLOG</h3>
      <% @blogs.each do |blog| %>
        <article>
          <a href="#" class="image fit"><img src="<%= blog.blog_image %>" alt=""></a>
          <header>
            <span class="date"><%= blog.blog_date %></span>
            <!-- <h3><a href="#"><%= blog.blog_title %></a></h3> -->
            <h3><%= link_to blog.blog_title, blog %></h3>
          </header>
          <p><%= blog.blog_intro %></p>
          <ul class="actions">
            <li><a href="/blogs/<%= blog.id %>" class="button">Continue Reading</a></li>
          </ul>
        </article>
      <% end %>
    </section>

</aside>