<header id="header">
  <%= render 'events/navbar' %> 
</header>

<div class="wrapper">

    <section class="main">
      
      <section>
        <p class="notice"><I>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</I></p>
      
    
        <div class="show_detail_wrap">
          <div class="show_left">
            <img src="<%= @event.eb_image %>">
          </div>

          <div class="show_right">
            <h3><%= @event.eb_title %></h3>
            <% if @event.ecategory_id == 1 %>
             <%= @event.eb_featured_sale %>
            <% else %>
             <% if @event.ecategory_id == 3 %>
             <% else %>
              <ul class="show_price_ul">
                <li class="show_price_is">$<%= @event.eb_price_is %></li>
                <li class="show_price_was">$<%= @event.eb_price_was %></li>
                <% if @event.eb_shipping.present? %>
                  <p class="somthing_hidden"><%= @event.eb_shipping %></p>
                  <li class="freeshipping">+ free shipping</li>
                <% end %>
               </ul>
             <% end %>
            <% end %>
            <hr>
             <% if @event.ecategory_id == 3 %>
              <% if @event.eb_expire.present? %>
                <div class="promo_code">
                  <p class="end_code">PROMO CODE : <%= @event.eb_code %></p> 
                  <p class="end_date">This promo code has expried.</p>                
                </div>
              <% else %>
                <div class="promo_code">
                  <p class="code_number">PROMO CODE : <%= @event.eb_code %></p> 
                  <p class="code_date">Expiration Date: <%= @event.eb_date %></p>                
                </div>
              <% end %>
             <% end %>
            <hr>
            <div class="contents">
             <% if @event.ecategory_id == 1 %>
             <% else %>
              <% if @event.ecategory_id == 2 %>
               <p><span class="show_bold"><%= @event.eb_title %></span> is on sale now for <span class="show_bold"><%= @event.eb_price_is %> (<%= @event.eb_price_sale %>% off)</span> at eBay. 
              <% else %>
               <% if @event.ecategory_id == 4 %>
                <p><span class="show_bold"><%= @event.eb_title %></span> is on sale now for <span class="show_bold"><%= @event.eb_price_is %> (<%= @event.eb_price_sale %>% off)</span> at eBay. 
               <% else %>
                <!-- <p><span>This Coupon is a <%= @event.eb_price_sale %>% discount valid until <%= @event.eb_date %><br/>Discount applies to the purchase price (excluding shipping, handling, and taxes) of an eligible item(s) of $0 or more on ebay.com.</p><br/> -->
               <% end %>
              <% end %>
             <% end %>


             <div class="ckeditor">
              <%= raw @event.eb_ckeditor %>
             </div>

            
            </div>


            <%= @event.ecategory.name if @event.ecategory %>
            
            <% if can? :update, @event %>
              <div class="admin">
                <%= link_to "Home", events_path%>
                <%= link_to "New", new_event_path %>
                <%= link_to "Edit", edit_event_path(@event) %>
                <%= link_to "Delete", event_path(@event), method: :delete, data: {confirm: "Are you sure?"}%>
                <%= "#{@event.unique_impression_count}" %> views
              </div>
            <% end %>

            <hr>

            <% if @event.ecategory_id == 3 %>
              <div class="check_boutton">
                <a target="_blank" href="<%= @event.eb_link %>" class="button primary fit">Copy Code & Open Site</a>
              </div>
            <% else %>
              <% if @event.ecategory_id == 1 %>
                <div class="check_boutton">
                 <a target="_blank" href="<%= @event.eb_link %>" class="button primary fit">See More Deals</a>
                </div>
              <% else %>
                <div class="check_boutton">
                 <a target="_blank" href="<%= @event.eb_link %>" class="button primary fit">Check it Out</a>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>

      </section>

      <div class="wrapper">
         <section class="main">
          <section>
           <section class="grid-section">

              <h1 class="interested">You may also be interested in the following product(s)</h1>
              <% @relative_show.shuffle.take(8).each do |eventshow| %>
               <% if eventshow.ecategory_id == @event.ecategory_id %> 
                <article class="related-card">
                  <div class="related-card__image">
                    <%= link_to (image_tag eventshow.eb_image), eventshow %>
                  </div>
                  <div class="related-card__title">
                    <p><%= link_to eventshow.eb_title, eventshow %></p>
                  </div>
                  
                  <% if @event.ecategory_id == 1 %>
                  <% else %>
                   <% if @event.ecategory_id == 3 %>
                   <% else %>
                    <div class="related-card__details">
                       <span class="related-card__details--like">$<%= eventshow.eb_price_is %></span>
                       <span class="related-card__details--view">$<%= eventshow.eb_price_was %></i></span>        
                    </div>
                   <% end %>
                  <% end %>
                </article>
               <% end %>
              <% end %>
                          
             </section>
           </section>
         </section>
        </div>

    </section>

  <!-- Sidebar -->
  <%= render 'events/sidebar_show' %>
</div>

<!-- Footer -->
<%= render 'shared/footer' %>


 