<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<div class="wrapper">

    <section class="main">
      
      <section>
        <p class="notice">Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla lorem.</p>
      
    
        <div class="show_detail_wrap">
          <div class="show_left">
            <img src="<%= @event.eb_image %>">
          </div>

          <div class="show_right">
            <h3><%= @event.eb_title %></h3>
            <% if @event.ecategory_id == 1 %>
             <ul>
              <li><%= @event.eb_intro %></li>
             </ul>
            <% else %>
             <ul>
              <li class="show_price_is">$<%= @event.eb_price_is %></li>
              <li class="show_price_was">$<%= @event.eb_price_was %></li>
              <% if @event.eb_shipping.present? %>
                <p class="somthing_hidden"><%= @event.eb_shipping %></p>
                <li>+ free shipping</li>
              <% end %>
             </ul>
            <% end %>
            <hr>
             <% if @event.ecategory_id == 3 %>
              <% if @event.eb_expire.present? %>
                <div class="promo_code">
                  <p class="end_code">PROMO CODE : <%= @event.eb_code %></p> 
                  <p class="end_date">This promo code has expried.</p>                
                </div>
              <% else %>
                <div class="promo_code">
                  <p class="code_number">PROMO CODE : <%= @event.eb_code %></p> 
                  <p class="code_date">Expiration Date: <%= @event.eb_date %></p>                
                </div>
              <% end %>
             <% end %>
            <hr>
            <div class="contents">
             <% if @event.ecategory_id == 1 %>
               <p class="featured_deal">Best Sales</p>
             <% else %>
              <% if @event.ecategory_id == 2 %>
               <p><span class="show_bold"><%= @event.eb_title %></span> is on sale now for <span class="show_bold"><%= @event.eb_price_is %> (<%= @event.eb_price_sale %>% off)</span> at eBay. 
              <% else %>
               <% if @event.ecategory_id == 4 %>
                <p><span class="show_bold"><%= @event.eb_title %></span> is on sale now for <span class="show_bold"><%= @event.eb_price_is %> (<%= @event.eb_price_sale %>% off)</span> at eBay. 
               <% else %>
                <p><span class="show_bold"><%= @event.eb_title %></span> is on sale now for <span class="show_bold"><%= @event.eb_price_is %></span> at eBay. If you use this promo code, you could save <span class="show_bold"><%= @event.eb_price_sale %>% off</span> more.</p>
               <% end %>
              <% end %>
             <% end %>
            
             <div class="ckeditor">
              <%= raw @event.eb_ckeditor %>
             </div>

            </div>

            <%= @event.ecategory.name if @event.ecategory %>
            
            <% if can? :update, @event %>
              <div class="admin">
                <%= link_to "Home", events_path%>
                <%= link_to "New", new_event_path %>
                <%= link_to "Edit", edit_event_path(@event) %>
                <%= link_to "Delete", event_path(@event), method: :delete, data: {confirm: "Are you sure?"}%>
                <%= "#{@event.unique_impression_count}" %> views
              </div>
            <% end %>

            <hr>

            <% if @event.ecategory_id == 3 %>
              <div class="check_boutton">
                <a target="_blank" href="<%= @event.eb_link %>" class="button primary fit">Copy Code & Open Site</a>
              </div>
            <% else %>
              <% if @event.ecategory_id == 1 %>
                <div class="check_boutton">
                 <a target="_blank" href="<%= @event.eb_link %>" class="button primary fit">See More Sales</a>
                </div>
              <% else %>
                <div class="check_boutton">
                 <a target="_blank" href="<%= @event.eb_link %>" class="button primary fit">Check it Out</a>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>
        
      </section>

    </section>

  <!-- Sidebar -->
  <%= render 'events/sidebar_show' %>
</div>

<!-- Footer -->
<%= render 'shared/footer' %>
