<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<div class="wrapper">
  <section class="main">

    <section>
      <%= render 'bridges/main' %>
    </section>

    <br/><br/>

    <section>

      <h2>Black Friday 2018 Ad</h2>

     <%= render 'bridges/sub_department' %>
     <br/><br/>

     <%= render 'bridges/sub_electronics' %>
     <br/><br/>

     <%= render 'bridges/sub_clothes' %>
     <br/><br/>
 
     <%= render 'bridges/sub_other' %>
     <br/><br/>
        
    </section>


  </section>
</div>