<%= simple_form_for @post do |f| %>
 <div class="form_section">
   <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"} %>
   <%= f.input :post_title %>
   <%= f.input :post_image %>
   <%= f.input :post_link %>
   <%= f.input :post_intro %>
   <%= f.input :post_spare_21, as: :text, input_html: { class: 'ckeditor' }, label: "Description" %>
   <%= f.input :post_price_is %>
   <%= f.select :post_spare_02, options_for_select([["No! It's not Free Shipping", ""], "Yes! It's Free Shipping"]) %>
   <%= f.select :post_spare_01, options_for_select([["No! It's not Crowdfunding", ""], "Yes! It's Crowdfunding"]) %>
   <%= f.input :post_price_was %>
   <%= f.input :post_source %>
   <%= f.input :post_youtube_01 %>
   <%= f.input :post_youtube_02 %>
   <%= f.input :post_review %>
   <div class="form_button">   
    <%= f.button :submit %>
   </div>
 </div>
<% end %>