<aside class="sidebar">
  
    <section>

     <section>
      <h3>AMAZON QUICK SEARCH</h3>
      <section data-group="modal-group">
        <div class="container">
          <a href="#" class="image fit"><img src="https://pmcvariety.files.wordpress.com/2018/01/amazon-logo.jpg?w=1000" alt=""></a>
          <p>Amazon offers thousands of great deals, but finding the best deal through endless pages might make you crazy. It offers a quick way to find the best deals on Amazon.</p>
          <a class="button btn-px open-modal" data-modal="modal">Quick Search</a>
          <div class="modal-wrapper" data-wrapper="modal-wrapper-large">
           <div class="modal-content">
            <div class="modal-intro">
             <h2>Quick way to find the best deals</h2>
             <p>Amazon offers thousands of great deals, but finding the best deal through endless pages might make you crazy. It offers a quick way to find the best deals on Amazon. You are going to get awesome deals just by clicking on the percentage off next to the category you want to browse.</p>
            </div>
            <%= render 'shared/amazon_table' %>
           </div>
          </div>
        </div>
      </section>  
    </section><br/>
    
  </section>

  <section>
   <h3>POPULAR DEALS</h3>
   <div id="sidebar">
    <ul id="side-rcnt-thumb-post-list">
      <% @post_side.each do |ps| %>
        <li>
          <div class="srtpl-l">
            <%= link_to (image_tag ps.post_image), ps, :class => "srtpl-a" %>
       <!-- <a href="#" class="srtpl-a"><img class="srtpl-thumb" src="<%= ps.post_image %>" alt=""></a> -->
          </div>
          <div class="srtpl-r">
            <p><%= ps.category.name %></p>
            <%= link_to ps.post_title, ps, :class => "srtpl-n" %>
          </div>
        </li>
      <% end %>
    </ul>
   </div><br/>
  </section>

<!-- Accordian -->
   <section>
     <h3>POPULAR DEALS BY CATEGORY</h3>
     <ul id="accord1" class="accordian">
      <li>
        <header>Tech</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @post_side.each do |postside| %>
              <% if postside.category_id == 1 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag postside.post_image), postside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to postside.post_title, postside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
      <li>
        <header>Geeky</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @post_side.each do |postside| %>
              <% if postside.category_id == 2 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag postside.post_image), postside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to postside.post_title, postside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
      <li>
        <header>Home & Kitchen</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @post_side.each do |postside| %>
              <% if postside.category_id == 3 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag postside.post_image), postside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to postside.post_title, postside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
      <li>
        <header>Travel</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @post_side.each do |postside| %>
              <% if postside.category_id == 4 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag postside.post_image), postside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to postside.post_title, postside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
      <li>
        <header>Outdoor & Sports</header>
        <section>
         <div id="sidebar">
          <ul id="side-rcnt-thumb-post-list">
            <% @post_side.each do |postside| %>
              <% if postside.category_id == 5 %> 
                <li>
                  <div class="srtpl-l">
                    <%= link_to (image_tag postside.post_image), postside, :class => "srtpl-a" %>        
                  </div>
                  <div class="srtpl-r">
                    <%= link_to postside.post_title, postside, :class => "srtpl-n" %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </section>
      </li>
    </ul>
   </section>
   <!-- Accordian -->

   <!-- Featured posts -->
    <section class="featured-posts">
      <h3>LATEST BLOG</h3>
      <% @blogs.each do |blog| %>
        <article>
          <a href="#" class="image fit"><img src="<%= blog.blog_image %>" alt=""></a>
          <header>
            <span class="date"><%= blog.blog_date %></span>
            <!-- <h3><a href="#"><%= blog.blog_title %></a></h3> -->
            <h3><%= link_to blog.blog_title, blog %></h3>
          </header>
          <p><%= blog.blog_intro %></p>
          <ul class="actions">
            <li><a href="/blogs/<%= blog.id %>" class="button">Continue Reading</a></li>
          </ul>
        </article>
      <% end %>
    </section>


</aside>