<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<!-- Wrapper -->
<div class="wrapper">

  <!-- Main -->
    <section class="main">

      <!-- Banner -->
      <%= render 'posts/banner' %> 

      <!-- Blurb -->
        <section>
          <p>This is jsut test AWS</p>
        </section>

      <!-- Deals -->
        <div class="index_container">
          <p><%= link_to "Add New Inspiration", new_post_path %></p>
          <div class="grid">

            <% @posts.each do |post| %>
              <div class="card">
                <div class="card--image">
                  <%= link_to (image_tag post.post_image), post %>
                </div>
                <div class="card--content">
                  <div class="card--category"><span class="source_index"><%= post.post_source %></span></div>
                  <p><%= post.post_title %></p>
                  <% if post.post_spare_01.present? %>
                    <div class="somthing_hidden"><%= post.post_spare_01 %></div>
                    <ul>
                      <li class="crowdfunding">Crowdfunding</li>
                    </ul>
                  <% else %>
                    <div class="index_price">
                      <ul>
                        <li>$<%= post.post_price_is %></li>
                        <li>$<%= post.post_price_was %></li>
                      </ul>
                    </div>
                  <% end %>
                  
                  <div class="index_button">
                   <a class="button primary fit" href="posts/<%= post.id %>">See More Detail</a>
                  </div>
                </div>          
              </div>
            <% end %>
           
          </div><br/>
          <%= paginate @posts %>
        </div>
       
        
    </section><!-- /.main -->

  <!-- Sidebar -->
  <%= render 'posts/sidebar' %>  

</div><!-- /.warpper -->

<!-- Footer -->
<%= render 'shared/footer' %>