    <header id="header">
       <%= render 'posts/navbar' %>
    </header>

    <div class="wrapper">

        <section class="main">

            <ul>
              <li><%=link_to "What's New", root_path %></li>
              <% Category.all.each do |category| %>
               <li><%= link_to category.name, posts_path(category: category.name) %></li>
              <% end %>
            </ul>


            <section>
              <h2>Awesome Gadgets That Will Blow Your Mind.</h2>
              <p>This is a collection that features all kinds of unique items that really cannot be classified in a single category. All you need to know is in this page, you are going to find a lot of cool & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet.:D</p>
            </section>



            <div class="index_container">
              <!--
              <% if can? :update, @post %>
               <h4><%= link_to "Add New Gadgets", new_post_path %></h4>
              <% end %>
              -->


              <div class="grid">

                <% @posts.each do |post| %>
                  <div class="card">
                    <div class="card--image">
                      <%= link_to (image_tag post.post_image), post %>
                    </div>
                    <div class="card--content">
                      <div class="card--category"><span class="source_index"><%= post.post_source %></span></div>
                      <p><%= post.post_title %></p>
                      <% if post.post_spare_01.present? %>
                        <div class="somthing_hidden"><%= post.post_spare_01 %></div>
                        <ul>
                          <li class="crowdfunding">#Crowdfunding</li>
                          <li class="crowdfunding_sub"><%= post.post_price_is %></li>
                        </ul>
                      <% else %>
                        <div class="index_price">
                          <ul>
                            <% if post.post_spare_04.present? %>
                             <div class="somthing_hidden"><%= post.post_spare_04 %></div>
                             <li class="price_hidden_post">hidden</li>                 
                            <% else %>
                              <li>$<%= post.post_price_is %></li>
                              <% if post.post_price_was.present? %>
                               <li>$<%= post.post_price_was %></li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                      
     
                    -->
                    </div>          
                  </div>
                <% end %>
               
              </div><br/>
              <%= paginate @posts %>
            </div>
           

            
        <!-- </section>/.main -->

      <!-- Sidebar -->
      <%= render 'posts/sidebar' %>

    </div><!-- /.warpper -->

    <!-- Footer -->
    <%= render 'shared/footer' %>