<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<!-- Wrapper -->
<div class="wrapper">

  <!-- Main -->
    <section class="main">

      <!-- Banner -->
      <%= render 'posts/banner' %> 

      <!-- Blurb -->
        <section>
          <p>Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla lorem.</p>
        </section>

      <!-- Deals -->
        <div class="index_container">
          <p><%= link_to "Add New Inspiration", new_post_path %></p>
          <div class="grid">

            <% @posts.each do |post| %>
            <div class="card">
              <div class="card--image">
                <%= link_to (image_tag post.post_image), post %>
              </div>
              <div class="card--content">
                <div class="card--category"><%= post.post_source %></div>
                <p><%= post.post_title %></p>
                <ul>
                  <li>$<%= post.post_price_is %></li>
                  <li>$<%= post.post_price_was %></li>
                  <!-- <li><i class="fa fa-thumbs-o-up"><%= post.get_likes.size %></i></li> -->
                </ul>
                <div class="index_button">
                 <a class="button primary fit" href="posts/<%= post.id %>">See More Detail</a>
                </div>
              </div>          
            </div>
            <% end %>
            
<!--             <div class="card">
              <div class="card--image"><img src="//source.unsplash.com/500x306"></div>
              <div class="card--content">
                <div class="card--category">Category</div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab incidunt aliquam cumque accusantium.</p>
                <ul>
                  <li>$15</li>
                  <li>$20</li>
                </ul>
                <div class="index_button">
                 <a href="#">See More Detail</a>
                </div>
              </div>
            </div> -->
           
          </div><br/>
          <%= paginate @posts %>
        </div>
       
        
    </section><!-- /.main -->

  <!-- Sidebar -->
  <%= render 'posts/sidebar' %>  

</div><!-- /.warpper -->

<!-- Footer -->
<%= render 'posts/footer' %>