<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<!-- Wrapper -->
<div class="wrapper">

  <!-- Main -->
    <section class="main">

      <h1><%= @post.post_title %></h1>
      <%= @post.post_intro %>
      <%= @post.post_price_is %>
      <%= @post.post_price_was %>
      <%= @post.post_source %>
      <!-- <h2><%= raw @post.post_spare_21 %></h2> -->
      <%= @post.user.name %>

      <%= link_to "Home", root_path %>
      <%= link_to "Edit", edit_post_path(@post) %>
      <%= link_to "Delete", post_path(@post), method: :delete, date: {confirm: "Are you sure?"}%>

    </section>
</div>