<%= simple_form_for @dealzon do |f| %>
 <div class="form_section">
   <%= f.collection_select :acategory_id, Acategory.all, :id, :name, {prompt: "Choose a category"} %>
   <%= f.input :am_title %>
   <%= f.input :am_intro %>
   <%= f.input :am_spare_21, as: :text, input_html: { class: 'ckeditor' }, label: "Description" %>
   <%= f.input :am_image %>
   <%= f.input :am_category %>
   <%= f.input :am_review %>
   <%= f.input :am_code %>
   <%= f.input :am_date %>
   <%= f.input :am_price_is %>
   <%= f.input :am_price_was %>
   <%= f.input :am_price_sale %>
   <%= f.input :am_link %>


   <%= f.button :submit %>
 </div>
<% end %>