<!-- Logo -->
<span class="logo">
  <a href="/">Oh,i gotta buy this</a>
  <span>Quick way to find the best deals</span>
</span>

<!-- Nav -->
<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>

    <li>
      <a href="#" class="icon fa-angle-down">Categories</a>
      <ul>
        <li><%=link_to "Everything", root_path %></li>
        <% Category.all.each do |category| %>
         <li><%= link_to category.name, posts_path(category: category.name) %></li>
        <% end %>
      </ul>
    </li>

    <li>
      <a href="#" class="icon fa-angle-down">Stores</a>
      <ul>
       <li>
          <a href="/dealzons">Amazon</a>
          <ul>
            <li><%= link_to "All Offer", dealzons_path %></li>
            <% Acategory.all.each do |acategory| %>
             <li><%= link_to acategory.name, dealzons_path(acategory: acategory.name) %></li>
            <% end %>
          </ul>
       </li>
       <li><a href="/blogs">eBay</a></li>
      </ul>
    </li>

    <!-- <li>
      <a href="#" class="icon fa-angle-down">Dropdown</a>
      <ul>
        <li><a href="#">Option One</a></li>
        <li><a href="#">Option Two</a></li>
        <li><a href="#">Option Three</a></li>
        <li>
          <a href="#">Submenu</a>
          <ul>
            <li><a href="#">Option One</a></li>
            <li><a href="#">Option Two</a></li>
            <li><a href="#">Option Three</a></li>
            <li><a href="#">Option Four</a></li>
          </ul>
          <li>
          <a href="#">Submenu</a>
          <ul>
            <li><a href="#">Option One</a></li>
            <li><a href="#">Option Two</a></li>
            <li><a href="#">Option Three</a></li>
            <li><a href="#">Option Four</a></li>
          </ul>
        </li>
      </ul>
    </li> -->
    <li><a href="generic.html">Blog</a></li>
    <!-- <li><a href="elements.html">Elements</a></li> -->
    <!-- <li><a href="#" class="button">Log In</a></li> -->
    <% if user_signed_in? %>
      <li class="button"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class="button"><%= link_to "Log in", new_user_session_path %></li>
      <li class="button"><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>