<header id="header">
  <%= render 'dealzons/navbar' %> 
</header>

<div class="wrapper">

  <section class="main">

    <!-- for play youtube video-->
    <div class="overlay-video">
      <div class="videoWrapperExt">
        <div class="videoWrapper">
          <div class="video_close"></div>
            <iframe id="player" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>        
     </div>

    <section>
      <p class="notice"><I>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to keep finding and sharing good deals.</I></p>
    
      <div class="show_detail_wrap">
        <div class="show_left">
          <img src="<%= @dealzon.am_image %>">
        </div>

        <div class="show_right">
          <h3><%= @dealzon.am_title %></h3>
          <div class="show_price_section">
             <ul>
              <% if @dealzon.acategory_id == 1 %> 
               <li><%= @dealzon.am_price_sale %>% Off</li>
              <% end %>

              <% if @dealzon.acategory_id == 2 %> 
               <li><span class="price_weight">$<%= @dealzon.am_price_is %></span></li>
               <li>$<%= @dealzon.am_price_was %></li>
               <% if @dealzon.am_shipping.present? %>
                <div class="somthing_hidden"><%= @dealzon.am_shipping %></div>
                <li>+ free shipping</li>
               <% end %>
              <% end %>

              <% if @dealzon.acategory_id == 3 %>
               <li class="price_hidden">hidden</li>                
              <% end %> 

              <% if @dealzon.acategory_id == 4 %>   
               <li><span class="price_weight">$<%= @dealzon.am_price_is %></span></li>  
               <% if @dealzon.am_shipping.present? %>
                <div class="somthing_hidden"><%= @dealzon.am_shipping %></div>
                <li>+ free shipping</li>
               <% end %>           
              <% end %>
            </ul>
          </div>
          <hr>
<!-- Youtube & Review Begin -->          
          <div class="youtube">
            <ul>
              <% if @dealzon.am_spare_01.present? %>
               <li>
                <div class="js-overlay-start start" data-url="<%= @dealzon.am_spare_01 %>">
                 <button class="button small"><i class="fa fa-play"></i>&nbsp;Watch Video</button>
                </div>
               </li>
              <% end %>

              <% if @dealzon.am_review.present? %>
               <li><a class="button small" href="<%= @dealzon.am_review %>"><i class="fa fa-check-circle"></i>&nbsp;See Review</a></li>
              <% end %>
            </ul>
          </div>
<!-- Youtube & Review End -->
          <hr>
<!-- Promo Code & Expiration Begin -->        
          <% if @dealzon.am_expire.present? %>
           <div class="somthing_hidden"><%= @dealzon.am_expire %></div>
           <% if @dealzon.acategory_id == 4 %>
            <div class="promo_code">
              <p class="end_code">PROMO CODE : <%= @dealzon.am_code %></p>
              <p class="end_date">This code has expired.</p>                
            </div>
           <% end %>
           <% if @dealzon.acategory_id == 3 %>
            <div class="promo_code">
             <p class="end_date">This promotion has expired.</p>
            </div>
           <% end %>
          <% else %>
           <% if @dealzon.acategory_id == 4  %>
             <div class="promo_code">
              <p class="code_number">PROMO CODE : <%= @dealzon.am_code %></p>
              <p class="code_date">Expiration Date: <%= @dealzon.am_date %></p>
             </div>
            <% end %>
            <% if @dealzon.acategory_id == 3  %>
             <div class="promo_code">
              <p class="code_date">Expiration Date: <%= @dealzon.am_date %></p>
             </div>
            <% end %>
          <% end %>
<!-- Promo Code & Expiration End -->              
          <hr>
<!-- Content Begin -->  
        <div class="contents">
           <% if @dealzon.acategory_id == 4 %> 
            <p><span class="show_bold"><%= @dealzon.am_title %></span> is on sale now for <span class="show_bold">$<%= @dealzon.am_price_is %></span> at Amazon. <I><span class="ifyousave">If you use this promo code(<span class="show_bold"><%= @dealzon.am_code %></span>), you cloud get a  <span class="show_bold"><%= @dealzon.am_price_sale %>% discount</span> out of the suggested price.
            </span></I></span></p><br/>

            <% if @dealzon.am_shipping.present? %>
             <div class="somthing_hidden"><%= @dealzon.am_shipping %></div>
             <p><span class="show_bold">Shipping is free</span> ( Prime or $25+ of all other eligible items.)<br/><a href="/blogs/1"><span class="wia">What is Amazon Prime?</span></a></p>
            <% end %>
          <% else %>
            <% if @dealzon.acategory_id == 1 %>              
            <% else %>
             <% if @dealzon.acategory_id == 3 %> 
             <% else %>
              <p><span class="show_bold"><%= @dealzon.am_title %></span> is on sale now for <span class="show_bold">$<%= @dealzon.am_price_is %>(<%= @dealzon.am_price_sale %>% Off)</span> at Amazon.</p><br/>
              <% if @dealzon.am_shipping.present? %>
                <div class="somthing_hidden"><%= @dealzon.am_shipping %></div>
                <p><span class="show_bold">Shipping is free</span> ( Prime or $25+ of all other eligible items.)<br/><a href="/blogs/1"><span class="wia">What is Amazon Prime?</span></a>
              <% end %>
             <% end %>
            <% end %>
          <% end %>
          
          <div class="ckeditor">
           <%= raw @dealzon.am_spare_21 %><br/>
          </div>
            
          <% if @dealzon.acategory_id == 4 %>
            <div class="code_step">
              <p>How To Use:</p>
              <ol>
                <li>Click "Copy code & Open site"</li>
                <li>Click "Buy Now or Add to Cart"</li>
                <li>Proceed with payment then the code(<span class="show_bold"><%= @dealzon.am_code %></span>) is automatically applied.</li>
              </ol>
            </div>
          <% end %>
        </div>
<!-- Content End -->
          <%= @dealzon.acategory.name %>
          
          <% if can? :update, @dealzon %>
            <div class="admin">
              <%= link_to "Home", dealzons_path%>
              <%= link_to "New", new_dealzon_path %>
              <%= link_to "Edit", edit_dealzon_path(@dealzon) %>
              <%= link_to "Delete", dealzon_path(@dealzon), method: :delete, data: {confirm: "Are you sure?"}%>
              <%= "#{@dealzon.unique_impression_count}" %> views
            </div>
          <% end %>

          <hr>

          <% if @dealzon.acategory_id == 4 %> 
            <div class="check_boutton">
              <a target="_blank" href="<%= @dealzon.am_link %>" class="button primary fit">Copy code & Open site</a>
            </div>
          <% else %>
            <div class="check_boutton">
              <a target="_blank" href="<%= @dealzon.am_link %>" class="button primary fit">Check it Out</a>
            </div>
          <% end %>
        </div><!--/.show-right-->
      </div><!--/.show_detail_wrap-->

    </section>

<!-- Related Deals Begin -->
    <div class="wrapper">
     <section class="main">
      <section>
       <section class="grid-section">

          <h1 class="interested">You may also be interested in the following product(s)</h1>
          <% @relative_show.shuffle.take(8).each do |dealshow| %>
           <% if dealshow.acategory_id == @dealzon.acategory_id %> 

            <article class="related-card">
              <div class="related-card__image">
                <%= link_to (image_tag dealshow.am_image), dealshow %>
              </div>
              <% if @dealzon.acategory_id == 4 %>
                <div class="related-card__title">
                  <p><%= link_to dealshow.am_title, dealshow %><br/>
                </div>
              <% else %>
               <div class="related-card__title">
                  <p><%= link_to dealshow.am_title, dealshow %></p>
               </div>
              <% end %>

              <% if @dealzon.acategory_id == 1 %>
              <% end %>
              <% if @dealzon.acategory_id == 2 %>
               <div class="related-card__details">
                <span class="related-card__details--like">$<%= dealshow.am_price_is %></span>
                <span class="related-card__details--view">$<%= dealshow.am_price_was %></i></span>        
               </div>
              <% end %>
              <% if @dealzon.acategory_id == 3 %>
              <% end %>
              <% if @dealzon.acategory_id == 4 %>
               <div class="related-card__details">
                <span class="related-card__details--like">$<%= dealshow.am_price_is %></span>
               </div>
              <% end %>
            </article>

           <% end %>
          <% end %>

                                
         </section>
       </section>

       <section>
        <div class="amazon_related">
          <script type="text/javascript">
            amzn_assoc_placement = "adunit0";
            amzn_assoc_tracking_id = "3628-20";
            amzn_assoc_ad_mode = "search";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_default_search_phrase = "<%= @dealzon.am_category %>";
            amzn_assoc_default_category = "All";
            amzn_assoc_linkid = "8e4056cd7c49b6d726c657f30e19d527";
            amzn_assoc_search_bar = "true";
            amzn_assoc_search_bar_position = "top";
            amzn_assoc_title = "Shop Related Products";
          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div><br>
       </section>

     </section>
    </div>
<!-- Related Deals End -->
   
  </section>
  <!-- Sidebar -->
  <%= render 'dealzons/sidebar_show' %>
</div>

<div class="wrapper">
 <section class="main">
  <%= render 'dealzons/promotions' %> 
 </section>
</div>

<!-- Footer -->
<%= render 'shared/footer' %>
