<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<div class="wrapper">

  <section class="main">
    
    <section>
      <p class="notice">Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla lorem.</p>
    
      <div class="show_detail_wrap">
        <div class="show_left">
          <img src="<%= @dealzon.am_image %>">
        </div>

        <div class="show_right">
          <h3><%= @dealzon.am_title %></h3>
          <ul>
            <li class="show_price_is">$<%= @dealzon.am_price_is %></li>
            <% if @dealzon.am_shipping.present? %>
             <div class="somthing_hidden"><%= @dealzon.am_shipping %></div>
             <li>+ free shipping</li>
            <% end %>
          </ul>
          <hr>
           <% if @dealzon.am_expire.present? %>
             <div class="somthing_hidden"><%= @dealzon.am_expire %></div>
             <% if @dealzon.acategory_id == 4 %>
              <div class="promo_code">
                <p class="end_code">PROMO CODE : <%= @dealzon.am_code %></p>
                <p class="end_date">This code has expired.</p>                
              </div>
             <% end %>
             <% if @dealzon.acategory_id == 5 %>
              <div class="promo_code">
               <p class="end_date">This promotion has expired.</p>
              </div>
             <% end %>
            <% else %>
             <% if @dealzon.acategory_id == 4  %>
               <div class="promo_code">
                <p class="code_number">PROMO CODE : <%= @dealzon.am_code %></p>
                <p class="code_date">Expiration Date: <%= @dealzon.am_date %></p>
               </div>
              <% end %>
              <% if @dealzon.acategory_id == 5  %>
               <div class="promo_code">
                <p class="code_date">Expiration Date: <%= @dealzon.am_date %></p>
               </div>
              <% end %>
            <% end %>

          <hr>

          <div class="contents">
            <% if @dealzon.acategory_id == 4 %> 
             <p><span class="show_bold"><%= @dealzon.am_title %></span> is on sale now for <span class="show_bold">$<%= @dealzon.am_price_is %></span> at Amazon. If you use this promo code, you could save <span class="show_bold"><%= @dealzon.am_price_sale %>% off</span> more.</p>
             <p><span class="show_bold">Shipping is free</span> ( Prime or $25+ of all other eligible items.)</p><br/>
            <% else %>
             <p><span class="show_bold"><%= @dealzon.am_title %></span> is on sale now for <span class="show_bold">$<%= @dealzon.am_price_is %>(<%= @dealzon.am_price_sale %>% Off)</span> at Amazon.</p>
             
             <% if @dealzon.am_shipping.present? %>
              <div class="somthing_hidden"><%= @dealzon.am_shipping %></div>
              <p><span class="show_bold">Shipping is free</span> ( Prime or $25+ of all other eligible items.)</p><br/>
             <% end %>
            <% end %>
          
            <div class="ckeditor">
             <%= raw @dealzon.am_spare_21 %><br/>
            </div>
            
            <% if @dealzon.acategory_id == 4 %>
              <div class="code_step">
                <p>How To Use:</p>
                <ol>
                  <li>Click "Copy code & Open site"</li>
                  <li>Click "Buy Now or Add to Cart"</li>
                  <li>Proceed with payment then the code is automatically applied.</li>
                </ol>
              </div>
            <% end %>
          </div><!--/.contents-->

          <%= @dealzon.acategory.name %>
          
          <% if can? :update, @dealzon %>
            <div class="admin">
              <%= link_to "Home", dealzons_path%>
              <%= link_to "New", new_dealzon_path %>
              <%= link_to "Edit", edit_dealzon_path(@dealzon) %>
              <%= link_to "Delete", dealzon_path(@dealzon), method: :delete, data: {confirm: "Are you sure?"}%>
              <%= "#{@dealzon.unique_impression_count}" %> views
            </div>
          <% end %>

          <hr>

          <% if @dealzon.acategory_id == 4 %> 
            <div class="check_boutton">
              <a target="_blank" href="<%= @dealzon.am_link %>" class="button primary fit">Copy code & Open site</a>
            </div>
          <% else %>
            <div class="check_boutton">
              <a target="_blank" href="<%= @dealzon.am_link %>" class="button primary fit">Check it Out</a>
            </div>
          <% end %>
        </div><!--/.show-right-->
      </div><!--/.show_detail_wrap-->

       <div class="related_show">
        <h1>You may also be interested in the following product(s)</h1>
        <% @dealzon_show.each do |deal| %>
         <% if deal.acategory_id == @dealzon.acategory_id %> 
         <div class="related_card">
           <%= link_to (image_tag deal.am_image), deal %>
           <h3><%= link_to deal.am_title, deal %></h3>
         </div>
         <% end %>
        <% end %>
       </div>
      
    </section>
 
  </section>
  

  <!-- Sidebar -->
  <%= render 'dealzons/sidebar_show' %>
</div>

  


<!-- Footer -->
<%= render 'shared/footer' %>
