<header id="header">
  <%= render 'posts/navbar' %> 
</header>

<div class="wrapper">

  <section class="main">
    
    <div class="category_wrap">
     <h1>List of categories of Dealzon</h1>
      <%= link_to "Add New Category", new_acategory_path %>
      <table>
        <tr>
          <th>Category</th>
          <th>Category ID</th>
          <th colspan="2">Option</th>
        </tr>
        <% @acategories.each do |category| %>
         <tr>
          <td><%= category.name %></td>
          <td><%= category.acategory_id %></td>
          <td><%= link_to "Edit", edit_acategory_path(category) %></td>
          <td><%= link_to "Delete", acategory_path(category), method: :delete, data: {confirm: "Are you sure?"} %></td>
         </tr>
        <% end %>
      </table>
     </div>
    
  </section>

</div>

<!-- Footer -->
<%= render "shared/footer" %>


